/* 中文字体 */
@font-face {
  font-family: 'CustomChinese';
  src: url('/fonts/chinese/font.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CustomChinese';
  src: url('/fonts/chinese/font.woff2') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* 英文字体 */
@font-face {
  font-family: 'CustomEnglish';
  src: url('/fonts/english/font.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CustomEnglish';
  src: url('/fonts/english/font.woff2') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CustomEnglish';
  src: url('/fonts/english/your-english-font-italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
} 